* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  width: 1200px;
  margin: 0 auto;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav li {
  display: inline-block;
  padding: 1em;
}

p {
  font-size: 1.2em;
  line-height: 1.4em;
}
